# Account Verification
This article explains how to verify your account.

### Why do I have to verify?
We carefully evaluate new accounts to determine high risk orders, you are asked to verify a new account as you may have been selected randomly. Please provide the requested information at your earliest convenience to ensure that your account is set up as soon as possible.

### How do I verify? 
Please submit a [Support Ticket](https://www.gearhost.com/documentation/how-to-open-a-support-ticket) with a scanned copy of the following items:

1. A photo ID such as a passport, driver license, or a Government issued I.D. 
2. The credit card that was used on your account purchase. 

You may censor all but the last 4 digits of the credit card number for your protection, but please ensure the name and expiration date are legible.

Please provide us with the above requested information at your earliest convenience to ensure that your account with GearHost is set up as soon as possible. We apologize for any inconveniences that may result from this process.

>**Tip:** You can open a support ticket and attach your images by selecting the Support menu on your control panel. We do not sell your information and it remains confidential. After the verification process all sensitve information is removed from our system.